.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.skills__card {
  width: calc(25% - 10px);
  height: auto;
  margin: 5px;
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  margin-bottom: var(--mb-3);
}

.skills__img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.swiper-pagination-bullet {
  background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--title-color) !important;
}

/* BREAK POINTS */
@media screen and (max-width: 992px) {
  .skills__container {
    width: 100%;
    justify-content: flex-start;
  }

  .skills__card {
    width: calc(50% - 20px);
  }
}
